:root{
    font-size: 62.5%;
    background-color: aliceblue;
    background: url('../images/map.jpeg') no-repeat center/cover;
}

*{
   box-sizing: border-box;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin: 0;
   padding:0;
   color: #444;
}

h1,h2,h3,h4{
    margin-bottom: 1rem;
}

h1{
    font-size: 5.5rem;
    color: #116688;
    margin-bottom: 2rem;
}

h1 > span{
    font-size: 2.4rem;
    font-weight: 500;
}

h2{
    font-size: 4rem;
    margin-bottom: 2rem;
    font-weight: 500;
}

h3{
    font-size: 2rem;
    font-weight: 500;
}


.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    text-align: center;
}

.container > *{
    width: 100%;
    align-items: center;
}

#game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
}
.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.text-center{
    text-align: center;
}

.flag-pic{
    width: 350px;
    height: 20rem;
    border: #444;
    box-shadow: 1.5rem 0.5rem 1.5rem 0.5rem  #116688;
    background-color: #88ccee;
    margin: 5rem;
    display: flex;
    overflow: hidden;
    text-wrap: nowrap;
    justify-content: center;
}

.hidden{
    display: none;
}

.choices-container{
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 2rem;
    border: 3px solid rgb(from 89 165 222 0.4);
}

.choices-container:hover{
    cursor: pointer;
    box-shadow: 0 0.3rem 1.5rem #116688;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.prefix{
    padding: 1.5rem 2.5rem;
    background-color: #116688;
    color: antiquewhite;
}
.choicetext{
    background-color: antiquewhite;
    color: #116688;
    padding: 1.5rem;
    width: 100%;
}

.btn{

    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #116688;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #444;
    background-color: #88ccee;
    border-radius: .3rem;
}

.btn:hover{
    cursor: pointer;
    box-shadow: 0 0.4 1.4rem 0 rgba(11, 55, 255);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.btn[disabled]:hover{
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}